*{
    margin: 0;
    padding: 0;

}
.container{
    background-color:gray;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    
}
.box
{
 background-color:wheat;
 width: 45vw;
 height: 40vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;


 
}
#boxes{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.box-2{
    width: 39vw;
    height: 45vh;
    font-size:25px;
    
}
#boxe{
    background-color:azure;
    display: flex;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#bxx{
    background-color:rgb(44, 154, 154);
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: center;
    
}
.bxx{
    background-color: chartreuse;
    color: cornsilk;
    width: 200px;
    height: 50px;
    border-radius:20px;
    margin-top:25px;
}
#bx{
    background-color: rgb(20, 124, 124);
    display: flex;
    flex-direction: column;
    align-items:initial;
    justify-content: center;
    
}
.gain{
    font-size: 20px;
    margin: 10px;
}
#sud{
    color: beige;
    font-size:large;
}
#sub{
    color: green;
    font-size: x-large;
    margin-bottom: 40px;
}
#join{
    font-size: xxx-large;
    margin-bottom: 30px;
}